html {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(13px + 0.390625vw);
    scroll-behavior: smooth;
}


/*css override*/
.navbar-brand {
    font-size: 1.5rem;
}

.active {
    font-weight: bold;
}

.blue-background {
    height: 80vh;
    background-image: url("../img/laranja\ azul\ recorte.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55% 5%;
}

.blue-background h2 {
    font-size: 3rem;
    margin-bottom: 3%;
}

.rotate {
    transition: .5s;
}

.rotate:hover {
    cursor: pointer;
    transform: rotate(360deg)
}

.blue-background p {
    font-weight: 300;
    transition: 0.5s;
    width: fit-content;
}

.blue-background p:hover {
    transform: scale(1.1);
    cursor: pointer;
    border-bottom: 1px solid white;
}

/*MAIN.2 - .img-matrix*/
.img-matrix img {
    transition: .5s;
}

.img-matrix img:hover {
    transform: scale(1.1);
}

/*FOOTER*/
.copyright {
    font-size: 0.7rem;
}

ion-icon {
    font-size: 1.5rem;
}

.link {
    text-decoration: none;
    background-color: grey;
    color: white;
    padding: .8rem;
}