html {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(13px + 0.390625vw);
    scroll-behavior: smooth;
}

.navbar-brand {
    font-size: 1.5rem;
}

.blue-background {
    height: 80vh;
    background-image: url("../img/laranja\ azul\ recorte.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.blue-background h2 {
    font-weight: bold;
    font-size: 3rem;
    margin-left: 0;
    margin-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
}

.rotate {
    transition: .5s;
}

.rotate:hover {
    cursor: pointer;
    transform: rotate(360deg)
}

.blue-background p {
    font-weight: 300;
    transition: 0.5s;
    width: fit-content;
    align-self: flex-start;
    margin: 0;
}

.blue-background p:hover {
    transform: scale(1.1);
    cursor: pointer;
    border-bottom: 1px solid white;
}

/*MAIN.2 - .img-matrix*/


.img-matrix img {
    transition: .5s;
}

.img-matrix img:hover {
    transform: scale(1.1);
}

/*FOOTER*/
footer {
    width: 100%;
    display: flex;
    background-color: lightgray;
    justify-content: center;
    padding: 2% 0 2% 0;
}

.footer-container {
    width: 80%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container p {
    font-weight: 300;
    font-size: 0.7rem;
}

.icons-container {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.icons-container ion-icon {
    font-size: 1.7rem;
}

.icons-container ion-icon:hover {
    cursor: pointer;
}

footer a {
    /*Topo link*/
    font-size: 1rem;
    display: none;
    text-decoration: none;
    color: white;
    background-color: rgb(84, 84, 84);
    text-align: center;
    padding: 2%;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    .footer-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {

    /*MAIN*/
    .blue-background {
        background-position: 75% 25%;
    }

    .img-matrix {
        grid-template-columns: 1fr;
    }


    /*FOOTER*/
    footer {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icons-container {
        width: 100%;
        padding: 2% 0 2% 0;
        justify-content: space-evenly;
        background-color: lightblue;
    }

    .p-container {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .text-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    footer a {
        display: block;
    }
}